@import "tailwindcss";

body {
  @apply min-h-screen bg-gray-50  dark:bg-black dark:text-white
}

html {
  @apply sm:scroll-smooth
}

.section-height {
  height: calc(100vh - 68px);
}

.animate-bounce-once {
    animation: bounce 1.9s ease 1.5;
  }

    @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
